## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [29]:
import numpy as np
import pandas as pd

In [30]:
#EDA time
df = pd.read_csv('../data/kc_house_data.csv')

In [ ]:
df

In [32]:
df.describe()
#bedrooms has a crazy outlier,8 bathrooms also seems excessive

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,21597.000000,21597.000000,17755.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000
mean,4.580474e+09,5.402966e+05,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,1788.596842,1970.999676,83.636778,98077.951845,47.560093,-122.213982,1986.620318,12758.283512
std,2.876736e+09,3.673681e+05,0.926299,0.768984,918.106125,4.141264e+04,0.539683,827.759761,29.375234,399.946414,53.513072,0.138552,0.140724,685.230472,27274.441950
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,370.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,1190.000000,1951.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,1560.000000,1975.000000,0.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,2210.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,9410.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [33]:
df.columns
#Our features
#off the bat i feel like id isnt useful so we can drop it
#need to check which data is categorical and of that what is ordinal and how i will deal with that

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [34]:
df.info()
#sqft basement is listed as an object type instead of an int we neede to look at this
#waterfront, view, condition, grade, and date are categorical, of which view, condition and grade are ordinal

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

In [35]:
df.isnull().any()
#3 columns have null values in them that we need to deal with

id               False
date             False
price            False
bedrooms         False
bathrooms        False
sqft_living      False
sqft_lot         False
floors           False
waterfront        True
view              True
condition        False
grade            False
sqft_above       False
sqft_basement    False
yr_built         False
yr_renovated      True
zipcode          False
lat              False
long             False
sqft_living15    False
sqft_lot15       False
dtype: bool

In [36]:
df['sqft_basement'].value_counts() 
#that question mark is going to cause issues, lets calculate its accurate value
#DATA CLEANERZZZ

0.0       12826
?           454
600.0       217
500.0       209
700.0       208
          ...
1284.0        1
417.0         1
1135.0        1
1920.0        1
784.0         1
Name: sqft_basement, Length: 304, dtype: int64

In [37]:
mask = df['sqft_basement'] == '?'
df.loc[mask, 'sqft_living'] - df.loc[mask, 'sqft_above']

6          0
18         0
42         0
79         0
112      380
        ...
21442    970
21447      0
21473      0
21519      0
21581      0
Length: 454, dtype: int64

In [38]:
for i,z  in enumerate(df['sqft_basement']):

SyntaxError: unexpected EOF while parsing (<ipython-input-38-33db3e0ae253>, line 1)

In [39]:
df.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
5,7237550310,5/12/2014,1230000.0,4,4.50,5420,101930,1.0,NO,NONE,...,11 Excellent,3890,1530.0,2001,0.0,98053,47.6561,-122.005,4760,101930
6,1321400060,6/27/2014,257500.0,3,2.25,1715,6819,2.0,NO,NONE,...,7 Average,1715,?,1995,0.0,98003,47.3097,-122.327,2238,6819
7,2008000270,1/15/2015,291850.0,3,1.50,1060,9711,1.0,NO,NaN,...,7 Average,1060,0.0,1963,0.0,98198,47.4095,-122.315,1650,9711
8,2414600126,4/15/2015,229500.0,3,1.00,1780,7470,1.0,NO,NONE,...,7 Average,1050,730.0,1960,0.0,98146,47.5123,-122.337,1780,8113
9,3793500160,3/12/2015,323000.0,3,2.50,1890,6560,2.0,NO,NONE,...,7 Average,1890,0.0,2003,0.0,98038,47.3684,-122.031,2390,7570

In [40]:
for z,i  in enumerate(df['sqft_basement']):
    if i == '?':
        print(z)
        df.loc[z,'sqft_basement'] = df.loc[z,'sqft_living'] - df.loc[z, 'sqft_above']

6
18
42
79
112
115
217
309
384
508
633
645
664
671
685
755
881
890
995
1073
1105
1205
1354
1356
1366
1476
1558
1600
1662
1669
1768
1804
1852
2041
2123
2126
2133
2152
2164
2199
2216
2325
2474
2525
2584
2612
2658
2662
2779
2922
3017
3018
3026
3074
3095
3134
3138
3204
3327
3375
3489
3615
3804
3857
3913
4008
4052
4094
4170
4171
4179
4194
4317
4365
4372
4503
4529
4591
4618
4677
4713
4763
4776
4783
4830
4910
4913
4933
4971
4996
4997
5015
5139
5191
5192
5371
5376
5386
5403
5409
5481
5539
5543
5607
5627
5677
5691
5757
5765
5798
5812
5874
5953
6004
6028
6051
6072
6074
6080
6139
6229
6311
6325
6353
6388
6410
6414
6563
6580
6631
6655
6712
6747
6763
6787
6966
6984
7070
7158
7213
7311
7325
7356
7430
7445
7528
7563
7566
7588
7589
7620
7652
7806
7818
7828
7921
8007
8038
8039
8057
8075
8094
8202
8212
8340
8354
8548
8565
8576
8644
8654
8655
8671
8768
8792
8898
8905
8985
9000
9052
9098
9103
9106
9118
9130
9202
9277
9315
9330
9364
9402
9442
9495
9516
9545
9589
9715
9758
9809
9836
9864
10014
10089
10094
10095
10108
10152
10175
10185
10390
10415
10423
10426
10506
10544
10590
10652
10685
10709
10783
10824
10910
11000
11084
11150
11201
11283
11288
11319
11371
11442
11463
11477
11494
11501
11564
11586
11591
11643
11698
11723
11749
11806
11921
11992
12021
12029
12050
12161
12361
12363
12376
12458
12482
12496
12538
12562
12566
12567
12607
12651
12759
12766
12795
12808
12893
12933
13033
13209
13248
13278
13299
13300
13307
13452
13511
13589
13673
13712
13748
13758
13786
13810
13826
13882
13905
13912
13935
14003
14038
14117
14121
14166
14466
14483
14515
14589
14608
14652
14688
14692
14701
14823
14888
14895
14901
14973
14986
14995
15061
15087
15116
15131
15151
15179
15185
15224
15231
15251
15276
15301
15314
15347
15477
15526
15536
15565
15595
15610
15634
15640
15655
15686
15700
15745
15762
15792
15833
15914
15915
15935
16010
16021
16061
16153
16156
16188
16229
16234
16235
16456
16460
16486
16552
16652
16685
16688
16861
16993
17003
17097
17113
17185
17241
17253
17337
17509
17528
17547
17693
17717
17725
17759
17869
18151
18207
18269
18271
18286
18292
18316
18413
18429
18465
18580
18616
18635
18714
18716
18720
18724
18781
18890
18909
18950
18984
18995
19030
19044
19071
19086
19121
19229
19234
19321
19430
19449
19562
19570
19584
19601
19617
19634
19640
19657
19777
19805
19918
19928
19941
19955
20016
20150
20199
20275
20333
20510
20553
20554
20676
20702
20741
20766
20853
20903
20929
20931
20934
20992
21000
21017
21087
21109
21210
21236
21248
21356
21357
21365
21442
21447
21473
21519
21581

In [41]:
df['sqft_basement'].apply(lambda x:float(x)).value_counts()

0.0       13110
600.0       221
700.0       218
500.0       214
800.0       206
          ...
2390.0        1
602.0         1
295.0         1
1281.0        1
906.0         1
Name: sqft_basement, Length: 306, dtype: int64

In [42]:
#Ordinal data configuration
df['view'] = df['view'].replace(['NONE', 'AVERAGE', 'FAIR', 'GOOD', 'EXCELLENT'],[0, 1, 2, 3, 4])
df['view']

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
21592    0.0
21593    0.0
21594    0.0
21595    0.0
21596    0.0
Name: view, Length: 21597, dtype: float64

In [43]:
df['waterfront'].value_counts()
#Waterfront has a lot of missing variables, but intuitively it seems that this feature would be important so i'll try to salvage it

NO     19075
YES      146
Name: waterfront, dtype: int64

In [44]:
#I'm going to replace the yes and no to 1 and zero to make modeling easier
#Im going to fill in the nulls for NO because there are so few yes as it is although this might cause problems
#i could check the lat and longs to find which houses border water to be more accurate but thats a bit above my pay grade right now

df['waterfront'].fillna('NO', inplace=True)
df['waterfront'].isnull().any()

False

In [45]:
df['waterfront'] = df['waterfront'].replace(['NO','YES'],[0, 1])

In [46]:
df['waterfront'].value_counts()

0    21451
1      146
Name: waterfront, dtype: int64

In [47]:
#convert to ordinal
df['condition'].value_counts()

Average      14020
Good          5677
Very Good     1701
Fair           170
Poor            29
Name: condition, dtype: int64

In [48]:
df['condition'] = df['condition'].replace(['Poor', 'Fair', 'Average', 'Good', 'Very Good'],[1,2,3,4,5])
df['condition']

0        3
1        3
2        3
3        5
4        3
        ..
21592    3
21593    3
21594    3
21595    3
21596    3
Name: condition, Length: 21597, dtype: int64

In [49]:
df['condition'].value_counts()

3    14020
4     5677
5     1701
2      170
1       29
Name: condition, dtype: int64

In [50]:
#convert to ordinal
df['grade'].value_counts()

7 Average        8974
8 Good           6065
9 Better         2615
6 Low Average    2038
10 Very Good     1134
11 Excellent      399
5 Fair            242
12 Luxury          89
4 Low              27
13 Mansion         13
3 Poor              1
Name: grade, dtype: int64

In [51]:
df['grade'] = df['grade'].replace(['7 Average', '6 Low Average','8 Good','11 Excellent','9 Better', '5 Fair',
 '10 Very Good', '12 Luxury', '4 Low', '3 Poor', '13 Mansion'],[4, 3, 5, 8, 6, 2, 7, 9, 1, 0, 10])
df['grade']

0        4
1        4
2        3
3        4
4        5
        ..
21592    5
21593    5
21594    4
21595    5
21596    4
Name: grade, Length: 21597, dtype: int64

In [59]:
#df['zipcode'].value_counts()
#theres no way i can introduce 70 new features lmao

In [60]:
df_cleaned = df.drop(columns = ['yr_built', 'date', 'lat', 'long', 'floors'])
df_cleaned.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,waterfront,view,condition,grade,...,98146,98148,98155,98166,98168,98177,98178,98188,98198,98199
0,7129300520,221900.0,3,1.00,1180,5650,0,0.0,3,4,...,0,0,0,0,0,0,1,0,0,0
1,6414100192,538000.0,3,2.25,2570,7242,0,0.0,3,4,...,0,0,0,0,0,0,0,0,0,0
2,5631500400,180000.0,2,1.00,770,10000,0,0.0,3,3,...,0,0,0,0,0,0,0,0,0,0
3,2487200875,604000.0,4,3.00,1960,5000,0,0.0,5,4,...,0,0,0,0,0,0,0,0,0,0
4,1954400510,510000.0,3,2.00,1680,8080,0,0.0,3,5,...,0,0,0,0,0,0,0,0,0,0

In [61]:
df_cleaned.shape

(21597, 85)

In [62]:
#get zipcode as dummy data
one_hot = pd.get_dummies(df_cleaned['zipcode'], drop_first= True)
# Drop column as it is now encoded
df_cleaned = df_cleaned.drop('zipcode',axis = 1)
# Join the encoded df
df_cleaned= df_cleaned.join(one_hot)
df_cleaned

KeyError: 'zipcode'

In [63]:
df_cleaned

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,waterfront,view,condition,grade,...,98146,98148,98155,98166,98168,98177,98178,98188,98198,98199
0,7129300520,221900.0,3,1.00,1180,5650,0,0.0,3,4,...,0,0,0,0,0,0,1,0,0,0
1,6414100192,538000.0,3,2.25,2570,7242,0,0.0,3,4,...,0,0,0,0,0,0,0,0,0,0
2,5631500400,180000.0,2,1.00,770,10000,0,0.0,3,3,...,0,0,0,0,0,0,0,0,0,0
3,2487200875,604000.0,4,3.00,1960,5000,0,0.0,5,4,...,0,0,0,0,0,0,0,0,0,0
4,1954400510,510000.0,3,2.00,1680,8080,0,0.0,3,5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,360000.0,3,2.50,1530,1131,0,0.0,3,5,...,0,0,0,0,0,0,0,0,0,0
21593,6600060120,400000.0,4,2.50,2310,5813,0,0.0,3,5,...,1,0,0,0,0,0,0,0,0,0
21594,1523300141,402101.0,2,0.75,1020,1350,0,0.0,3,4,...,0,0,0,0,0,0,0,0,0,0
21595,291310100,400000.0,3,2.50,1600,2388,0,0.0,3,5,...,0,0,0,0,0,0,0,0,0,0
21596,1523300157,325000.0,2,0.75,1020,1076,0,0.0,3,4,...,0,0,0,0,0,0,0,0,0,0